
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------- 1.1 Global Reset -------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* -------------- 1.2 Color Themes ------------------- */

/* ------ Color Theme Standard ------ */

:root {
    --violet: #5722CD;
    --blue: #4B49E8;
    --pink: #ED4385;
    --white-hue-pink: #F2F0FF;
    --black: #0C0C0C;
    --grey: #7A7A7A;
    --light-grey: #F3F6F9;
}

/* ------ Project Color Definitions ------ */

.theme-standard {
    --bg-color-primary: var(--light-grey);
    --bg-color-secondary-gradient: linear-gradient(96deg, rgba(75, 73, 232, 1) 6%, rgba(87, 34, 205, 1) 67%);
    --bg-color-secondary: var(--blue);
    --bg-color-tertiary: var(--white-hue-pink);
    --bg-color-quaternary: var(--black);
    --text-color-primary: var(--black);
    --text-color-secondary: var(--white-hue-pink);
    --text-color-tertiary: var(--violet);
    --text-color-quaternary: var(--light-grey);
    --button-color-primary: var(--pink);
    --border-color-primary: var(--blue);
    --border-color-secondary: var(--grey);
    --shadow-normal: rgba(0, 0, 0, 0.3);
    --shadow-light: rgba(0, 0, 0, 0.15);

}

/* -------------- 1.3 Buttons and links -------------- */

button {
    padding: 2rem 3rem;
    background-color: var(--button-color-primary);
    border: none;
    border-radius: 40px;
    box-shadow: 0 10px 20px var(--shadow-normal);

    font-size: 1.1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-color-secondary);

    cursor: pointer;
}

a, a:hover, a:focus {
    color: var(--text-color-tertiary);
    text-decoration: none;
    cursor: pointer;
}

/* ------------------------------- 2. Typography ----------------------------------- */

body,
textarea {
    font-family: "Roboto", sans-serif;
    color: var(--text-color-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
    color: var(--text-color-primary);
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.test {
    border: 2px dashed red;
}

.webpage-wrapper {
    display: flex;
    flex-direction: column;
}

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container-column {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container-row {
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.small-basis {
    flex-basis: 1200px;
}

.large-basis {
    flex-basis: 1750px;
}

.project-image-container {
    flex-basis: 200px;
}

/* --------------- 3.2 Other --------------------------- */

.nav-items {
    justify-content: flex-end;
    gap: 3rem;
    margin: 1.5rem 0;
}

.header-content {
    margin: 5rem 0 0;
}

.header-content p {
    margin: 2rem 0;
}

.shape-section-end {
    height: 100px;
    margin: 150px 0 0;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    background: var(--bg-color-secondary);
    background: var(--bg-color-secondary-gradient);
    color: var(--text-color-secondary);
}

.nav-items *, .nav-items a:hover, .nav-items a:focus {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-color-secondary);
    list-style-type: none;
}

header h1 {
    color: var(--text-color-secondary);
    text-align: center;
    font-size: 3.5rem;
}

header p {
    font-size: 2rem;
    font-weight: 300;
}

/* --------------- 4.2 Introduction ------------------- */

.introduction > .inner-container-column {
    margin: 100px 2rem;
}

.introduction p:not(:last-child) {
    margin: 1rem 0;
    font-family: "Merriweather", serif;
    font-size: 2.75rem;
    font-weight: 600;
    color: var(--text-color-tertiary);
    text-align: center;
}

.introduction p:last-of-type {
    margin: 100px 0 0;
    font-size: 1.7rem;
    font-weight: 500;
}

/* --------------- 4.3 Projects ----------------------- */

.projects {
    background-color: var(--bg-color-tertiary);
}

.projects article {
    margin: 100px 2rem;
    justify-content: space-between;
}

.projects article:nth-child(even) {
    flex-direction: row-reverse;
}

.project-image-container {
    flex-basis: 1000px;
    filter: drop-shadow(-5px 30px 12px var(--shadow-light));
}

.project-content {
    margin: 0 3rem;
    flex-basis: 500px;
    align-items: flex-start;
}

.project-content h3 {
    font-size: 2.75rem;
}

.project-content p {
    font-size: 1.7rem;
}

.project-content .squiggly-line {
    margin: 2rem 0 2.5rem;
}

.project-content .project-link {
    margin: 3rem 0 0;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* --------------- 4.4 USP Articles ------------------- */

.services-section {
    margin: 100px 2rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 500px);
    grid-gap: 3rem;
    justify-content: center;
}

.service-article {
    border: 2px solid var(--border-color-primary);
    box-shadow: 0 10px 20px var(--shadow-light);
    padding: 3rem;
    text-align: left;
    font-size: 1.3rem;
}

.service-article img {
    width: 100px;
}

.service-article h3 {
    margin: 1rem 0 2rem;
    font-size: 1.75rem;
    color: var(--text-color-tertiary);
}

/* --------------- 4.4 Contact ------------------------ */

.contact-section {
    background: var(--bg-color-secondary);
    background: var(--bg-color-secondary-gradient);
    padding: 100px 0;
    color: var(--white-hue-pink);
}

.contact-section h2 {
    font-size: 3.5rem;
    color: var(--white-hue-pink);
}

.contact-section p {
    margin: 2rem 0 3rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.contact-section form {
    width: 80%;
    font-size: 1.2rem;
}

.contact-section input,
.contact-section textarea {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
    border: 1px solid var(--border-color-secondary);
    border-radius: 5px;
    padding: 1.5rem 1.5rem;
    font-size: 1.2rem;
}

.contact-section button {
    display: block;
    margin: auto;
    padding: 2rem 6rem;
}

/* --------------- 4.1 Footer ------------------------- */

footer {
    background-color: var(--bg-color-quaternary);
    padding: 2rem 0;
    color: var(--text-color-quaternary);
    text-align: center;
}

/* ------------------------------- 5. Media Queries -------------------------------- */

@media screen and (max-width: 800px) {
    .nav-items {
        justify-content: space-around;
    }

    .nav-items *, .nav-items a:hover, .nav-items a:focus {
        font-weight: bold;
    }

    header h1 {
        font-size: 3.2rem;
    }

    .projects article,
    .projects article:nth-child(even) {
        flex-direction: column;
    }

    .services-section {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 500px);
    }
}
